@import url('https://fonts.googleapis.com/css2?family=Coral+Pixels&family=Sixtyfour&display=swap');
@import url('https://fonts.googleapis.com/css2?family=TASA+Orbiter:wght@400..800&display=swap');

*{
    color:rgb(255, 255, 255);
}
body{
    font-family: "TASA Orbiter", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000000;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg fill-opacity='0.32'%3E%3Cpolygon fill='%231d1d1d' points='800 100 0 200 0 800 1600 800 1600 200'/%3E%3Cpolygon fill='%233b3a3a' points='800 200 0 400 0 800 1600 800 1600 400'/%3E%3Cpolygon fill='%23585757' points='800 300 0 600 0 800 1600 800 1600 600'/%3E%3Cpolygon fill='%23767473' points='1600 800 800 400 0 800'/%3E%3Cpolygon fill='%23939190' points='1280 800 800 500 320 800'/%3E%3Cpolygon fill='%23b1aead' points='533.3 800 1066.7 800 800 600'/%3E%3Cpolygon fill='%23CECBCA' points='684.1 800 914.3 800 800 700'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;    
  }

nav {
  padding: 15px;
  background-color: rgb(0, 0, 0);
}
#back{
    text-decoration: none;
}
.navLinks {
  border:1px solid rgb(255, 252, 252);
  font-family: "Sixtyfour";
  padding: 10px;
}
.navLinks:hover{
   border:3px solid rgb(255, 255, 255);
}

main{
  text-align: center;
}




footer {
  padding: 5px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

#githubPic{
  max-width: 50px;
  max-height: 50px;
}
